
/* mobile phones */
@media(min-width:0px) and (max-width:480px){
  
    .meuTop{
        display: none !important;
    }
    .page-link ul{
        display: none;
        z-index: 1;
    }
    .menu{
        z-index: 1;
        top: 0px;
        padding:10px 10px; 
    }
    .mobile{
        position: fixed;
        background-color: #040919;
        width: 100%;
        height: 400px;
        overflow: hidden;
        display: none;
        align-items: center;
        
    }
    .mobile::before{
        content: '';
        background-color: #ab3e5f36;
        height: 300px;	
        width: 300px;
        transform: rotate(45deg);
        bottom: 40px;
        left: -25%;
        z-index: -1;
        position: absolute;
    }
    .mobile::after{
        content: '';
        background-color: #04091969;
        height: 300px;	
        width: 300px;
        transform: rotate(45deg);
        bottom: 40px;
        left: 35%;
        z-index: -1;
        position: absolute;
    }
    .mobile ul{
       
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 20px;
        list-style: none;
        height: 250px;
        justify-content: space-between;
    }
    .mobile ul li,.mobile ul a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;

    }
    .container{
        height: 100%;
        display: grid;
        grid-gap:40px;
        /* padding: 	25px; */
        grid-template-columns: repeat(1fr);
    }
    .box{
        grid-column: 1/4;
        width: 100%;
    }
    .footer ,.footer-top{
        height: 100%;
        display: grid;
        grid-gap: 30px;
        
    }
    .footer-top{
        margin: 34px 0px;
    }

    /* *Dishes */
    #dish-area{
        height: 100%;
        width: 100%;
        padding: 35px 0px;
        background-color: #fafafa;
    }
    .top-dishes{
        height: 100%;
        width: 100%;
        background-color: #fafafa;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        /* flex-wrap: wrap; */
    }
    .dish-info{
        background-color: #fafafa;
        width: 250px;
        height: 350px;
        display: flex;
        justify-content: center;
         flex-direction: column;
    }
    .dish-card{
        height: 400px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0px 5px 25px;
        overflow: hidden;
        margin: 0px;
    }
    /* *Team section */
    .team{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        /* flex-wrap: wrap; */
    }
    #experts{
        background-color: #040919;
        height: 100%;
        padding: 50px;
    }
    /* *About  */
    #about{
        height: 70vh;
        width: 100%; 
    }
    .about-infos{
        width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    #about img{
       display: none;
    }
    #about .content{
        width: 90%;
        margin: 20px;
    }
    /* @footer area */
    #footer{
        width: 100%;
        height: 35vh;
    }
    .footer-top{
        width: 100%;
        margin: 0px;
        display: flex;
    }
    .footer-top::before{
      display: none;
     }
     .footer-top::after{
        display: none;
      }
      .footer-top h5{
        font-size: 30px;
        color: #fff;
        margin-bottom: 0px !important;  
    }
    .footer-top p{
      text-align: center;
    }
    .footer-top span i{
        margin: 5px !important;
        font-size: 20px;
        color: #e00c4c;
        cursor: pointer;
    }
    /* @contact area */
    #contact{
        height: 100vh;
        width: 100%;
        background-color: #e00c4c; 
        position: relative;overflow: hidden;
    }
    .map{
        display: none;
    }
    .contact-content{
        background-color: #009f85;
        height: 600px;
        width: 100%;
        position: relative;
    }
    .form{
        width: 100%;
        height: 600px;
        background-color: #fff;
    }
    .address{
        height: auto;
        width: 100%;
        margin: 0px;
    }
    .address div{
        margin: 5px;
    }
    .contact-map{
        display: none;
    }
    .x{
        display: none;
    }
    h4{
        font-size: 12px;
        color: #040919;
        text-align: center;
    }
    /* @banner area  */
    #banner-area{
        background-image: url(../img/banners/ban2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        position: relative;
        width: 100%;
        overflow: hidden;
        background-attachment: fixed;
    }
    #banner-area h1{
        font-family: 'Shizuru', cursive ;
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }
    #banner-area h1 .color{
        font-family: 'Shizuru', cursive ;
    }
    #banner-area p{
        margin-bottom: 5px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
}

/* media for big screen */
@media(min-width:500px){
    .toggle{
        display: none !important;
    }
    .mobile{
        display: none;
    }
    
  }