@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
/*Global style*/
*{
	/*background-color: #fafa;*/
	margin: 0px;
	padding: 0px;
    font-family: sans-serif;
}
.title{
	font-size: 40px !important;
	margin-bottom: 20px;
}
/* *Menu bar  */
.menu{
	height: 50px;
	background-color: rgb(0, 0, 0,0.0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 40px;
	position: fixed;
	width: 96%;
	z-index: 1;
	top: 0px;
}

.stick{
	height: 50px;
	top: 0px;
	background-color: #040919 !important;
    transition: 1s ease-in-out;
	z-index: 99;
}
.brand h5{
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
}
.menu button{
	padding: 10px 25px;
	border: none;
	color: #fff;
	font-weight: 900;
	border-radius: 30px;
    background-color: #ab3e5f;
}
.menu button:hover{
    background-color: #f01859;
	cursor: pointer;
}
.page-link ul{
    margin-right: 38px;
	width: 600px;
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: center;
}
.page-link ul li, .page-link ul li a{
  list-style: none;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  transition: 0.2s;
  padding-bottom: 5px;
}
.page-link ul li:hover{
    border-bottom: #e00c4c 3px solid;
}

/* *menu toggle */
.toggle{
	position: relative;
	width: 70px;
	height: 70px;
	/* background-color: #f01859; */
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}
.toggle span{
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
}
.toggle span:nth-child(1){
	transform: translateY(-15px);
	width: 25px;
	left: 15px;
}
.toggle span:nth-child(2){
	transform: translateY(15px);
	width: 15px;
	left: 15px;
}
/* *when Js starts */
.toggle.active span:nth-child(3){
	transform: translateX(60px);
	
}
.toggle.active span:nth-child(1){
	transform: translateY(0px) rotate(45deg);
	width: 40px;
	
}
.toggle.active span:nth-child(2){
	transform: translateY(0px) rotate(-45deg);
	width: 40px;	
}

/* !end nav bar */

/* * Banner area */
#banner-area{
    background-image: url(../img/banners/ban2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

#banner-area h1{
    font-family: 'Shizuru', cursive ;
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
#banner-area h1 .color{
    font-family: 'Shizuru', cursive ;
}
#banner-area p{
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}
.center{
display: flex;
align-items: center;
justify-content: center;
}
.flex{
    flex-direction: column;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
 .color{
     color: #e00c4c;
 }
 /* !end of banner */

 /* *about area */
 #about{
     height: 100vh;
     width: 100%; 
 }
 .about-infos{
     width: 900px;
     justify-content: space-between;
 }
 #about img{
     margin-left: 15px;
   width: 50%;
 }
 #about .content{
     width: 50%;
 }
 section{
     border: none;
 }
 .btn{
	 background-color: #040919;
	 border: none;
	 padding: 10px 15px;
	 color: #fff;
	 margin-top: 10px;
	 cursor: pointer;
	 width: 150px;
	 transition: 0.3s ease-in-out;
 }
 .btn:hover,.btn:focus{
	background-color: #e00c4c;
 }

 /* *end about  */

/* *dish-area */

#dish-area{
	height: 200vh;
	width: 100%;
	background-color: #fafafa;
}

.top-dishes{
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}
.dish-card{
	height: 400px;
	width: 370px;
	background-color: #fff;
	box-shadow: 0px 5px 25px;
	overflow: hidden;
	margin: 35px;
}
.dish-card img{
	width: 100%;
	cursor: pointer;
    transition: 0.3s ease-in-out;
}
.dish-card img:hover{
	transform: scale(1.7);
}
.dish-info{
	background-color: #fafafa;
	width: 250px;
	height: 350px;
	display: flex;
	justify-content: center;
     flex-direction: column;
}
.dish-img{
	overflow: hidden;
	height: 100%;
}
/* *Modal area */
.modal{
	position: fixed;
	z-index: 99;
	width: 700px;
	height: 300px;
	background-color: #fafafa;
	top: 100px;
	display: none;
	overflow: hidden;
	font-family: sans-serif;
    animation: modal  1s;
}
.modal-info{
	/* background-color: #e00c4c; */
	width: 450px;
	padding: 20px;
	margin: 10px;
}
.modal h2{
	color: #009f85;
	margin: 5px;
}
#modalImg{
	margin-left: 10px;
}
.modal small{
	text-decoration: line-through;
	font-size: 13px;
	color: #e00c4c !important;
}
.modal-info i{
	font-size: 40px;
	margin: 10px;
}
.fa-truck{
	color: #009f85;
}
.fa-check-circle{
	color: gold;
}
.fa-tags{
	color: #e00c4c;
}
@keyframes modal{
	from {transform:scale(0)}
	to {transform:scale(1)}
}
.overlay{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #04091970;
}

/* *experts area */
#experts{
	background-color: #040919;
	height: 100vh;
}
.team{
	height: 400px;
	width: 1300px;
	/* background-color: #fafafa; */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.team-card{
   height: 400px;
   width: 300px;
   cursor: pointer;
   background-color: #fafafa;
   overflow: hidden;
   transition: 0.3s ease-in-out;
}
.team-img{
	height:300px;
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: 0.5s ease-in-out;
}
.team-card img{
   width: 100%;
}
.team-info{
	margin: 20px;
}
.team-info h1{
	margin-bottom: 5px;
}
.team-card:hover{
	box-shadow: 0px 5px 25px #009f85;
}
.social{
	position: absolute;
	top: 70%;
	left: 10%;
	z-index: 1;
	height: 0px;
	overflow: hidden;
	
}
.social i{
	background-color: #040919;
	padding: 15px;
	margin: 5px;
	color: #e00c4c;
	transition: 0.3s ease-in-out;
}
.social i:hover{
	background-color:#e00c4c;
	padding: 15px;
	margin: 5px;
	color:#040919  ;
}
.team-img:hover .social{
	height: auto;
}
.team-img:hover img{
	opacity: 0.7;
}
.team-img:hover{
	background-color: #040919a6;
}

/* *Testimonials section */
#testimonials{
	background-image: url(../img/banners/ban2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
  
}
.testi-content{
	margin: 50px;
	
	display: flex;
	 flex-direction: column;
	 align-items: center;
	overflow: hidden;
	height: 60vh;
	justify-content: center;
}
.item{
	
	height: 250px;
	width: 800px;
	margin: 10px;

}
.owl-carousel{
	width: 850px !important;

}
.testi-img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
}
.item h4{
	color: #fafafa;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
	word-spacing: 5px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e00c4c !important;
}
.fa-quote-left,.fa-quote-right{
	font-size: 30px !important;
	color: #e00c4c;
}
/* *contact */
#contact{
	height: 200vh;
	width: 100%;
    background-color: #e00c4c; 
	position: relative;overflow: hidden;

}
.contact-content{
	background-color: #009f85;
	height: 600px;
	width: 1200px;
	position: relative;
}
.map{
	width: 600px;
	height: 600px;
	background-color: #e00c4c;
	overflow: hidden;
}
h4{
	font-size: 14px;
	color: #040919;
	text-align: center;
}
.form{
	width: 600px;
	height: 600px;
	background-color: #fff;
}
.address{
	height: auto;
	width: 100%;
	margin: 10px;
}
.address div{
	margin: 15px;
}
.address div:nth-child(2){
	border-left: 1px solid #e00c4c;
	border-right: 1px solid #e00c4c;
	padding: 0px 20px;
}
form{
	width: 100%;
	height: 400px;
     
}
input{
	padding: 10px 15px;
	width: 90%;
	margin-bottom: 20px;

}
textarea{
	padding: 10px 15px;
	width: 90%;
	margin-bottom: 20px;
}
.contact-info{
	box-shadow: 0px 5px 25px #040919;
}


/* *footer area */
#footer{
	width: 100%;
	height: 30vh;
	
}
.footer-top{
	height: 20vh;
	width: 100%;
    background-color: #12203b;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.footer-top:hover span i{
     color: #ab3e5f;
}
.footer-top h5{
	font-size: 30px;
	color: #fff;
	margin-bottom: 15px;
}
.footer-top span i{
	margin: 10px;
	font-size: 20px;
	color: #e00c4c;
	cursor: pointer;
}
.footer-bottom{
	height: 10vh;
	width: 100%;
    background-color: #040919;
	color: #fafafa;
}
.footer-top::before{
   content: '';
   position: absolute;
   background-color: #e00c4c;
   height: 150px;
   width: 150px;
   right: -50px;
   top: 0px;
   transform: rotate(45deg);
}
.footer-top::after{
	content: '';
	position: absolute;
	background-color: #e00c4c;
	height: 150px;
	width: 150px;
	left: -50px;
	top: 0px;
	transform: rotate(45deg);
 }

 /* *Back to top button */
 .back-to-top{
   height: 40px;
   width: 40px;
   background-color: #040919; 
   display: flex;
   position: fixed;
   color: #fff;
   bottom: 100px;
   z-index: 999;
   cursor: pointer;
   right: 30px;
transition: .2s ease-in-out;
 }
 .back-to-top:hover{
	 border-radius: 50%;
 }